//- signup.pug

block stylesheets
  link(href="/css/signup.css", rel="stylesheet")

block title
  title Create a Trello Account

block content
  div.container.center-container.signup-container
    div.row
      h1 Create a Trello Account
      form#signup-form(ng-submit="submitForm()")
        div(class="form-group" ng-show="errorMessages.length")
          ul(class="alert alert-danger" role="alert")
            li(ng-repeat="error in errorMessages") {{ error }}
        div.form-group
          label(for="name") Name
          input(id="name", name="name", class="form-control", ng-model="user.name", placeholder="e.g., Ender Wiggin", required="true")
        div.form-group
          label(for="email-address") Email
          input(type="email", id="email-address", name="email", class="form-control", ng-model="user.email", placeholder="e.g., ender@battle.edu", required="true")
        div.form-group
          label(for="password") Password
          input(type="password", id="password", name="password", class="form-control", ng-model="user.password", placeholder="e.g., ********", required="true")
        button(type="submit", class="btn btn-success") Create New Account
    div.row.signin
      p Already have an account? #[a(href="#/signin") Log in].
