doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= 'Trello'

    <!-- Bootstrap -->
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/home.css", rel="stylesheet")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    <![endif]-->
  body
    nav.navbar.navbar-inverse.narvar-fixed-top
      div.container
        div.navbar-header
          button(type="button", data-toggle="collapse", data-target="#navbar", aria-controls="navbar", class="navbar-toggle collapsed")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          <a class="navbar-brand" href="#"></a>

        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href="#") Home

    div#main-container.container
      div.starter-template
        h1 Trello
        p Trello is the free, flexible, and visual way to organize anything with anyone.
        button(type="button", class="btn btn-success", href="#", data-track="Sign Up") Sign Up – It’s Free.
        a.text-muted.signin-link Log in...

    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
  </body>
</html>
